.profile-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  background-color: #ff9b54;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
  font-family: Source Sans Pro;
  font-size: 24px;
  /* align-self: flex-start; */
  /* position: fixed; sets navbar to fixed position */
  /* top: 120px; sets position to the top */
  /* z-index: 6; */
  margin-top: 120px;
  align-self: flex-start;
}


@media only screen and (min-width:1024px) {
  .profile-background {
    float: left;
    width: 33%;
    margin: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 150px;
  }
}