.navbar {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  position: fixed; /*sets navbar to fixed position*/
  top: 0; /*positioned at top of page*/
  padding: 35px;
  color: #FFFFFF;
  z-index: 2; /* layers navbar over other elements */
  background-color: #ff9b54;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}

.logo {
  font-family: Bungee;
  font-size: 36px;
}

/* container holding arrow icon and write tweet text*/
.nav-right {
  height: 55px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 26px;
}

.write-a-tweet {
  font-family: Source Sans Pro;
  font-size: 20px;
}


/* change appearance of navbar for large screens */
@media only screen and (min-width:1024px) {
  .navbar {
    background-color: #4F000B;
    background-image: none;
  }
 
  .write-a-tweet {
    font-size: 26px;
  }
}