.navbar {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  background-color: #4F000B;
  color: #FFFFFF;
  overflow: hidden;
  position: fixed; /*sets navbar to fixed position*/
  top: 0; /*sets position to the top*/
}

.write-a-tweet {
  max-height: 120px;
  font-family: Source Sans Pro;
  font-size: 26px;
  margin: 0;
  color: white;
}

.logo {
  font-family: Bungee;
  font-size: 36px;
}

.navright {
  height: 55px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 26px;
}
