.tweet-box {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f4f1ec;
  border-radius: 25px;
}

.write-tweet {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1em;
}

#tweet-text {
  color: #545149;
  background-color: #f4f1ec;
  font-family: Source Sans Pro, sans-serif;
  outline: none;
  resize: none;
  overflow: auto;
  border: none;
  border-bottom: 4px solid #545149;
  font-weight: bold;
}

.button {
  background-color: #FF9B54;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  border-radius: 12px
}

.button-counter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: Bungee;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
