/* Formatting for section header */
.recent {
  display: flex;
  color: #f4f1ec;
  padding-left: 20px;
  margin-top: 40px;
  font-size: 18px;
}

/* Container that holds all tweets  */
article.other-tweets {
  border-radius: 25px;
  padding: 20px 20px;
  color: #545149;
  background-color: #f4f1ec;
  font-family: Source Sans Pro, sans-serif;
  opacity: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Hover settings for tweet container */
article.other-tweets:hover {
  font-weight: bold;
  box-shadow: 10px 10px 10px #520b22;
  color: #545149;
  opacity: 100%;
}

/* Container holding the icon, person name and person's handle */
article.other-tweets header {
  display: flex;
  justify-content: space-between;
}


.person-icon {
  display: flex;
  align-items: center;
  font-size: 20px;
}

/* Spacing between icon & name */
.icon{
  margin-right: 10px;
}

/* These two sections show hidden handle upon hover */
.handle {
  color: #545149;
  opacity: 0%;
}  

article.other-tweets:hover .handle {
  color: #adadad;
  opacity: 100%;
}

/* Text area of tweet */
.txt {
  color: #545149;
  background-color: #f4f1ec;
  resize: none;
  overflow: auto;
  border: none;
  font-weight: bold;
  padding-bottom: 1em;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Container timestamp and icons */
article.other-tweets footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 12pt;
}

/* Spacing between like, flag, & retweet icons */
.fas {
  margin-left: 15px;
}

article.other-tweets:hover .fas {
  color: #ff9b54;
}